<div class="content-gestion-app">
    {% for section in sections %}
    <div class="container-windows-open" data-windows="" title="Afficher la fenêtre">
        <div class="eyes inactive">
            <i class="fa-regular fa-window-maximize fa-2xl"></i>
        </div>
        <div class="close-app" title="Fermer la fenêtre">
            <i class="fa-solid fa-trash fa-sm" style="color: #ffffff;"></i>
        </div>
        <h3 class="title-windows"></h3>
        <div class="content-windows"></div>
    </div>
    {% endfor %}

    <div class="no-content">
        Aucune fenêtre ouverte récemment
    </div>

    <div class="content-btn">
        <div class="close-all" title="Fermer toutes les fenêtres">
            <i class="fa-solid fa-xmark fa-lg" style="color: #ffffff;"></i>
        </div>
        <div class="gestion-app-close" title="Masquer le gestionnaire de fenêtres">
            <i class="fa-solid fa-bars fa-lg" style="color: #ffffff;"></i>
        </div>
    </div>
</div>