<div class="container-loading">
    <audio id="audio-windows" src="{{ asset('assets/sounds/windows-xp-startup.mp3') }}" autoplay></audio>
    <div class="top-bar"></div>
    <div class="mid">
        <div class="content-loading">
            <div class="logo-loading">
                Mickael Sayer*
                <img src="/assets/pictures/icon/microsoft-128.png" alt="Windows logo">
                <span>TM</span>
            </div>
            <div class="windows-wp">
                Portfolio <span>xp</span>
            </div>
            <div class="loader">
                Mon portfolio est en cours de démarrage <span class="dots">...</span>
            </div>
        </div>
        <div class="content-login">
            <div class="login-loading">
                <img src="/assets/pictures/icon/echec.jpg" alt="Windows echec">
                <div class="login-name">Freaks</div>
            </div>
        </div>
    </div>
    <div class="bottom-bar"></div>
</div>
