<div class="container-folder developper">
    <div class="container-diplome">
        <div class="ecole-name">
            <span>C</span>PENCLASSROOMS
        </div>
        <div class="ecole-logo">C</div>
        <div class="content-diplome">
            <div class="top-content">
                <p>Vu la décision du jury de certification du 19 avril 2023, OpenClassrooms accorde à </p>
                <p class="people-name">Mickael Sayer</p>
                <p class="date-naissance">Né(e) le 19 mars 1991 à Châtellerault (France)</p>
                <p>la certification professionnelle enregistrée au Répertoire National des Certifications
                    Professionnelles
                    au
                    niveau 6 (code 326t) par décision de France compétences publiée le 4 octobre 2016
                </p>
                <p class="diplome-name">Développer(euse) d'application</p>
            </div>
            <div class="bottom-content">
                <div class="signature-president">
                    <p>Paris, le 19 avril 2023</p><br>
                    <p><span>Président</span></p>
                    <p><span>d'OpenClassrooms</span></p>
                    <p>Pierre Dubuc</p>
                    <img src="{{ asset('assets/pictures/icon/signature.png') }}" alt="signature">
                </div>

                <div class="signature-pres">
                    <p>Signature du titulaire</p>
                    <img src="{{ asset('assets/pictures/icon/signature2.png') }}" alt="signature">
                </div>
            </div>
        </div>
    </div>
</div>
