<div class="container-folder todolist">
    <div class="container-todolist">
        <div class="title-todolist">ToDoList</div>
        <div class="subtitle-todolist">OpenClassRooms</div>
        <ul>
            <li>Développer des sites web avec HTML, CSS et JQuery</li>
            <li>Concevoir un site maintenable, responsive, respectant les standards du web et optimisant le
                référencement</li>
            <li>Créer un site avec WordPress</li>
            <li>Analyser les besoins d'un client</li>
            <li>Concevoir la solution technique d'une application</li>
            <li>Création d'un site communautaire avec Symfony</li>
            <li>Création d'un web service exposant une API</li>
            <li>Améliorer une application Symfony existante</li>
        </ul>
    </div>
</div>