section.windows.credit {
  -webkit-transform: translate(-43%, -48%);
  -ms-transform: translate(-43%, -48%);
  transform: translate(-43%, -48%);
}

section.windows .container-folder.remerciement {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.windows.credit .link {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #0b2239;
  padding: 20px 0;
  border-radius: 5px 5px 0 0;
  line-height: 46px;
  color: white;
  text-decoration: none;
  font-size: clamp(9px, 2vw, 14px);
  font-weight: 600;
}

section.windows.credit .link:not(:last-child) {
  margin-bottom: 40px;
}

section.windows.credit .link::after {
  content: "\f0c1";
  font-family: FontAwesome;
  position: absolute;
  top: calc(100% - 25px);
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  width: 50px;
  border-radius: 50%;
  height: 50px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  font-size: clamp(15px, 2vw, 20px);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  color: var(--green-ligth);
  opacity: 0;
  background: white;
  -webkit-box-shadow: 0 9px 9px 0 #eeeeee;
  box-shadow: 0 9px 9px 0 #eeeeee;
}

section.windows.credit .link:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
}

section.windows.credit .content-thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

section.windows.credit .content-thanks img {
  margin-right: 10px;
}

@media screen and (max-width: 848px) {
  section.windows.credit.active {
    -webkit-transform: translate(0%, 40px);
    -ms-transform: translate(0%, 40px);
    transform: translate(0%, 40px);
  }
}
