section.windows.credit {
  transform: translate(-39%, -57%);
}

section.windows .container-folder.remerciement {
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

section.windows.credit .link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 123px;
  font-size: var(--fz-sm);
  background: #0b2239;
  border-radius: var(--border-radius-md);
  color: var(--clr-white);
  text-decoration: none;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
  justify-content: space-evenly;
  padding: 10px;
}

section.windows.credit .link::before {
  content: "";
  height: 10px;
  width: 10px;
  background: var(--green-ligth);
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
}

section.windows.credit .link::after {
  content: "\f0c1";
  font-family: FontAwesome;
  position: absolute;
  top: calc(100% - 25px);
  left: 50%;
  transform: translateX(-50%) scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-rounded);
  background: var(--clr-white);
  font-size: var(--fz-md);
  color: var(--green-ligth);
  opacity: 0;
  background: var(--clr-white);
  box-shadow: 0 9px 9px 0 #eee;
  transition: 0.5s ease;
}

section.windows.credit .link:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

section.windows.credit .link span {
  margin-top: 10px;
}

section.windows.credit .content-thanks {
  display: flex;
  align-items: center;
  font-size: var(--fz-xl);
  font-weight: 600;
}

section.windows.credit .content-thanks img {
  margin-right: 10px;
}

@media screen and (max-width: 848px) {
  section.windows.credit.active {
    transform: translate(0%, 40px);
  }
}
