section.windows.credit {
  -webkit-transform: translate(-43%, -48%);
  -ms-transform: translate(-43%, -48%);
  transform: translate(-43%, -48%);
}

@media screen and (max-width: 848px) {
  section.windows.credit.active {
    -webkit-transform: translate(0%, 40px);
    -ms-transform: translate(0%, 40px);
    transform: translate(0%, 40px);
  }
}
