section.windows.diplome {
  transform: translate(-46%, -53%);
}

section.windows.diplome .container-folder.developper {
  font-family: Inter, sans-serif;
  justify-content: center;
  padding: 25px;
}

section.windows.diplome .container-diplome {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 100%;
  max-height: 479px;
  border-radius: var(--border-radius-lg);
  border: 2px solid #f6f6f6;
  padding: 10px;
  justify-content: space-between;
}

section.windows.diplome.full-size .ecole-name {
  font-size: var(--fz-3xl);
}

section.windows.diplome.full-size .people-name,
section.windows.diplome.full-size .diplome-name {
  font-size: var(--fz-3xl);
  margin: 35px 0;
}

section.windows.diplome.full-size .content-diplome {
  font-size: clamp(var(--fz-sm), 1vw, var(--fz-md));
}

section.windows.diplome .ecole-name {
  writing-mode: vertical-rl;
  transform: rotateY(180deg) rotateX(180deg);
  font-size: var(--fz-2xl);
  font-weight: bold;
  color: #7451eb;
  -webkit-text-stroke: 2px #7451eb;
  height: 100%;
  width: max-content;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
}

section.windows.diplome .ecole-name span {
  transform: rotate(-90deg) translateY(2px);
  writing-mode: initial;
}

section.windows.diplome .ecole-logo {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: var(--fz-4xl);
  -webkit-text-stroke: 2px #7451eb;
  font-weight: bold;
  transform: rotateY(180deg);
  color: #7451eb;
}

section.windows.diplome .content-diplome {
  height: 100%;
  width: 100%;
  padding: 5px 47px 5px 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: clamp(var(--fz-xs), 1vw, var(--fz-sm));
  color: #07368b;
}

section.windows.diplome .top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 17px;
}

section.windows.diplome .bottom-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 20px;
}

section.windows.diplome .people-name,
section.windows.diplome .diplome-name {
  font-size: clamp(var(--fz-2xl), 2vw, var(--fz-3xl));
  font-weight: 600;
  margin: 20px 0;
}

section.windows.diplome .signature-president {
  margin-right: 50px;
}

section.windows.diplome .signature-president p:first-child {
  margin-bottom: 10px;
}

section.windows.diplome .signature-president img,
section.windows.diplome .signature-pres img {
  margin-top: 10px;
  height: 35px;
  width: 35px;
}

section.windows.diplome .signature-president span {
  font-weight: 600;
}

section.windows.diplome .signature-pres {
  font-weight: 600;
}

section.windows.diplome .todolist {
  align-items: flex-start;
  justify-content: center;
}

section.windows.diplome .container-todolist {
  width: 400px;
  height: 100%;
  border-radius: var(--border-radius-xl);
  border: 1px solid #e2e2e2;
}

section.windows.diplome .title-todolist {
  font-size: var(--fz-md);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

section.windows.diplome .subtitle-todolist {
  font-size: var(--fz-sm);
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
  border-bottom: 1px solid #e2e2e2;
  color: #7451eb;
  font-weight: 600;
}

section.windows.diplome .container-todolist ul {
  padding: 15px;
  height: calc(100% - 81px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

section.windows.diplome .container-todolist li {
  position: relative;
  list-style: none;
  font-size: var(--fz-xs);
  margin-left: 30px;
}

section.windows.diplome .container-todolist li::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  height: 15px;
  width: 15px;
  background-image: url("/assets/pictures/icon/accept.png");
  background-size: cover;
}

@media screen and (max-width: 848px) {
  section.windows.diplome.active {
    transform: translate(0%, 40px);
  }

  section.windows.diplome .container-folder.diplome {
    align-items: center;
    padding: 10px;
  }

  section.windows.diplome .container-diplome {
    flex-direction: column;
    max-height: 100%;
    height: max-content;
  }

  section.windows.diplome .ecole-name {
    writing-mode: initial;
    transform: rotateY(0deg) rotateX(0deg);
    font-size: var(--fz-lg);
    height: max-content;
    width: 100%;
  }

  section.windows.diplome .ecole-name span {
    transform: rotate(-180deg) translateX(2px) translateY(1px);
  }

  section.windows.diplome .ecole-logo {
    display: none;
  }

  section.windows.diplome .content-diplome {
    height: 90%;
    padding: 0;
    justify-content: flex-start;
  }

  section.windows.diplome .top-content {
    line-height: normal;
  }

  section.windows.diplome .people-name,
  section.windows.diplome .diplome-name {
    margin: 10px 0;
  }

  section.windows.diplome .date-naissance {
    margin-bottom: 30px;
  }

  section.windows.diplome .bottom-content {
    margin-top: 10px;
  }
}
