section.windows.langage {
  transform: translate(-55%, -52%);
}

section.windows.langage .container-folder.laboratoire {
  flex-direction: column;
  align-items: center;
}

section.windows.langage .content-legend {
  position: relative;
  width: 100%;
  max-width: max-content;
  padding: 15px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #313131;
  color: white;
  font-family: Caveat;
}

section.windows.langage .title-lvl {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: clamp(12px, 1.5vw, 17px);
  font-family: Caveat;
  text-decoration: underline;
}

section.windows.langage .nail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #5d5d5d;
  border: 2px solid #7b7b7b;
}

section.windows.langage .nail-top-right {
  top: 5px;
  right: 5px;
}

section.windows.langage .nail-top-left {
  top: 5px;
  left: 5px;
}

section.windows.langage .nail-bottom-right {
  bottom: 5px;
  right: 5px;
}

section.windows.langage .nail-bottom-left {
  bottom: 5px;
  left: 5px;
}

section.windows.langage .legend-lvl {
  font-size: clamp(12px, 1.5vw, 17px);
  margin: 10px 25px;
}

section.windows.langage .legend-lvl li {
  position: relative;
  list-style-type: none;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section.windows.langage .legend-lvl li:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -28px;
  background-image: var(--lvl-icon);
  background-size: cover;
}

section.windows.langage .container-langage {
  position: relative;
  width: 70px;
  height: 190px;
  background: rgb(217 217 217 / 10%);
  border-radius: 30px;
  border: 8px solid transparent;
  box-shadow: 0px 0px 15px 0px #00000022;
  margin: 80px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
}

section.windows.langage .content-langage {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

section.windows.langage .liquid {
  position: absolute;
  top: calc(100% - var(--lvl));
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
  border-radius: 0 0 30px 30px;
}

section.windows.langage .liquid::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: var(--clr-shadow);
  border-radius: 50%;
  filter: drop-shadow(0 0 20px var(--clr-shadow));
}

section.windows.langage .liquid span {
  font-size: 18px;
  width: 100%;
  height: 100%;
  text-align: center;
  writing-mode: vertical-rl;
  color: #000000;
  -webkit-text-stroke: 0.4px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  pointer-events: none;
  letter-spacing: 2px;
  font-family: Caveat;
}

section.windows.langage .langage-name {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px #e8e8e8;
  pointer-events: none;
  position: relative;
  top: 50px;
  font-family: Caveat;
}

section.windows.langage .langage-name::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #e1e1e1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px #000000;
}

section.windows.langage .langage-name::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #e1e1e1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px #000000;
}

section.windows.langage .liquid-bubble {
  content: "";
  background: var(--clr-bubble);
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  animation: 3s cubic-bezier(0, 0.01, 0.51, 0.95) infinite;
}

section.windows.langage .liquid-bubble::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 6px;
  border-radius: 50%;
  background: #f5f5f5;
}

section.windows.langage
  .container-folder.laboratoire.open
  .liquid-bubble.bubble1 {
  top: 83%;
  left: 7px;
  animation-name: bubbleUp1;
  animation-delay: 1s;
}

@keyframes bubbleUp1 {
  0%,
  50% {
    transform: translateY(0px) scale(0);
  }
  60% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(0), scale(1.1);
  }
  80% {
    transform: translateY(0), scale(1.2);
  }
  90% {
    transform: translateY(0), scale(1.3);
  }
  100% {
    transform: translateY(-181px) scale(1.4);
  }
}

section.windows.langage .liquid-bubble.bubble1::before {
  top: 1px;
  left: 2px;
  transform: rotate(42deg);
}

section.windows.langage
  .container-folder.laboratoire.open
  .liquid-bubble.bubble2 {
  left: 21px;
  top: 87%;
  animation-name: bubbleUp2;
  animation-delay: 2s;
}

@keyframes bubbleUp2 {
  0%,
  50% {
    transform: translateY(0px) scale(0);
  }
  60% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(0), scale(1.1);
  }
  80% {
    transform: translateY(0), scale(1.2);
  }
  90% {
    transform: translateY(0), scale(1.3);
  }
  100% {
    transform: translateY(-170px) scale(1.4);
  }
}

section.windows.langage
  .container-folder.laboratoire.open
  .liquid-bubble.bubble3 {
  left: 33px;
  top: 82%;
  animation-name: bubbleUp3;
  animation-delay: 1.5s;
}

section.windows.langage .liquid-bubble.bubble2::before {
  top: 7px;
  left: 3px;
  transform: rotate(124deg);
}

@keyframes bubbleUp3 {
  0%,
  50% {
    transform: translateY(0px) scale(0);
  }
  60% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(0), scale(1.1);
  }
  80% {
    transform: translateY(0), scale(1.2);
  }
  90% {
    transform: translateY(0), scale(1.3);
  }
  100% {
    transform: translateY(-173px) scale(1.4);
  }
}

section.windows.langage .liquid-bubble.bubble3::before {
  top: 3px;
  left: 2px;
  transform: rotate(21deg);
}

@media screen and (max-width: 848px) {
  section.windows.langage.active {
    transform: translate(0%, 40px);
  }

  section.windows.langage .content-langage {
    justify-content: center;
  }

  section.windows.langage .legend-lvl li {
    height: 65px;
  }
}
