section.windows.projet {
  -webkit-transform: translate(-43%, -48%);
  -ms-transform: translate(-43%, -48%);
  transform: translate(-43%, -48%);
}

section.windows.projet .container-icon {
  pointer-events: none;
}

@media screen and (max-width <= 848px) {
  section.windows.projet.active {
    -webkit-transform: translate(0%, 40px);
    -ms-transform: translate(0%, 40px);
    transform: translate(0%, 40px);
  }
}
