.container-error500 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(0, 50, 240);
  font-family: Inconsolata;
  color: var(--clr-white);
  font-size: clamp(10px, 2vw, 16px);
  text-align: center;
}

.container-error500 .type-error {
  font-style: italic;
  margin-top: 5px;
}

.container-error500 img {
  width: 200px;
  margin: 25px 0;
}

.container-error500 .btn-redirect {
  width: max-content;
  padding: 3px 13px;
  background: #a6a5a5;
  font-size: 20px;
  color: var(--clr-black);
  transition: 0.1s linear;
  text-decoration: none;
  pointer-events: initial;
}

.container-error500 .btn-redirect:hover {
  box-shadow: inset 0 0 0 2px #7b7b7b;
}
