<div class="content-top">
    <div>
        <img src="{{ asset('assets/pictures/icon/chrome32.png') }}" alt="chrome internet logo">
        <div class="detail-content-top">
            <span>Internet</span>
            <span>Chrome</span>
        </div>
    </div>
    <div>
        <img src="{{ asset('assets/pictures/icon/gmail.png') }}" alt="gmail logo">
        <div class="detail-content-top">
            <span>Courrier électronique</span>
            <span>Gmail</span>
        </div>
    </div>
    <div>
        <img src="{{ asset('assets/pictures/icon/vlc.png') }}" alt="vlc logo">
        <div class="detail-content-top">
            <span>Lecteur</span>
            <span>VLC</span>
        </div>
    </div>
</div>