<div class="nav-footer">
    <div class="open-session" title="Masquer le menu">
        <img src="{{ asset('assets/pictures/key.png') }}" alt="Icone clef">
        <span>F</span>
        <span class="text">ermer la navigation</span>
    </div>
    <div class="close-computer">
        <img src="{{ asset('assets/pictures/exclamation.png') }}" alt="wifi logo">
        <span>Arrêter l'ordinateur</span>
    </div>
</div>