<div class="container-folder description">
    <ul>
        <li>Nom : Sayer</li>
        <li>Prénom : Mickael</li>
        <li>Date de naissance : 19 mars 1991</li>
        <li>Âge : 32 ans</li>
        <li>Ville : Châtellerault</li>
        <li>métier: Développeur web PHP / Symfony</li>
        <li>Diplôme : Développeur d'application PHP / Symfony</li>
        <li>Expériences : 2 ans</li>
        <li>Entreprise : Vialtic.com</li>
        <li class="paragraphe">
            Grâce à mes deux années d'alternance, j'ai eu l'opportunité d'acquérir de l'expérience
            dans le développement web avec PHP et Symfony.
            Je suis désormais à la recherche de nouveaux défis professionnels pour continuer à développer mes
            compétences et contribuer à des projets innovants dans le domaine du développement web.
        </li>
    </ul>
</div>