<div class="container-folder loisirs">
    <div class="container-icon" data-link="steam" title="La liste des jeux auxquels j'aime jouer">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/icon/steam.png') }}" alt="Steam logo">
        </div>
        <div class="icon-title">
            <h2>Steam</h2>
        </div>
    </div>

    <div class="container-icon" data-link="youtube" title="La liste des chaînes YouTube que je regarde">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/icon/youtube.png') }}" alt="youtube logo">
        </div>
        <div class="icon-title">
            <h2>Youtube</h2>
        </div>
    </div>

    <div class="container-icon" data-link="netflix"
        title="La liste non exhaustive des films et séries que j'ai regardés">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/icon/netflix.png') }}" alt="netflix logo">
        </div>
        <div class="icon-title">
            <h2>Netflix</h2>
        </div>
    </div>
</div>
