<div class="container-folder loisirs">
    <div class="container-icon" data-link="steam">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/icon/steam.png') }}" alt="Steam logo">
        </div>
        <div class="icon-title">Steam</div>
    </div>

    <div class="container-icon" data-link="youtube">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/icon/youtube.png') }}" alt="youtube logo">
        </div>
        <div class="icon-title">Youtube</div>
    </div>

    <div class="container-icon" data-link="netflix">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/icon/netflix.png') }}" alt="netflix logo">
        </div>
        <div class="icon-title">Netflix</div>
    </div>
</div>