<div class="container-folder netflix">
    <div class="container-icon" data-link="film" id="film" title="La liste de mes films favoris">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/icon/films.png') }}" alt="film logo">
        </div>
        <div class="icon-title">
            <h2>Films</h2>
        </div>
    </div>

    <div class="container-icon" data-link="serie" id="serie" title="La liste de mes séries favorites">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/icon/series.png') }}" alt="serie logo">
        </div>
        <div class="icon-title">
            <h2>Séries</h2>
        </div>
    </div>
</div>
