{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'diplome' %}
{% set title = 'Diplôme' %}
{% set img = 'graduation' %}

{% block windows_content %}
    <h1>Diplôme</h1>
{% endblock windows_content %}