{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'experience' %}
{% set title = 'Expériences' %}
{% set img = 'scientific' %}

{% block windows_content %}
<h1>Expériences</h1>
{% endblock windows_content %}