{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'langage' %}
{% set title = 'Langages' %}
{% set img = 'programming' %}

{% block windows_content %}
    <h1>Langages</h1>
{% endblock windows_content %}