{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'projet' %}
{% set title = 'Projets' %}
{% set img = 'idea' %}

{% block windows_content %}
<h1>Projets</h1>
{% endblock windows_content %}