<div class="container-name">
    <div class="windows-name">
        <img src="{{ asset('assets/pictures/icon/' ~ img ~ '.png') }}" alt="{{ name }} logo">
        <h1>{{ title }}</h1>
    </div>
    <div class="windows-action">
        <div class="minus" title="Réduire la fenêtre">
            <span></span>
        </div>
        <div class="size">
            <span class="extends active" title="Agrandir la fenêtre"></span>
            <span class="narrow" title="Restaurer la fenêtre"></span>
        </div>
        <div class="close" title="Fermer la fenêtre">
            <span></span>
            <span></span>
        </div>
    </div>
</div>