<div class="container-name">
    <div class="windows-name">
        <img src="{{ asset('assets/pictures/' ~ img ~ '.png') }}" alt="{{ name }} logo">
        <h1>{{ title }}</h1>
    </div>
    <div class="windows-action">
        <div class="minus">
            <span></span>
        </div>
        <div class="size">
            <span class="extends active"></span>
            <span class="narrow"></span>
        </div>
        <div class="close">
            <span></span>
            <span></span>
        </div>
    </div>
</div>