<div class="content-menu">
    <ul class="windows-menu">
        <li>Fichier</li>
        <li>Edition</li>
        <li>Affichage</li>
        <li>Favoris</li>
        <li>Outils</li>
        <li>?</li>
    </ul>
    <img src="{{ asset('assets/pictures/icon/windows-logo.png') }}" alt="Windows logo">
</div>
