<div class="fil-ariane">
    <div class="address">Adresse</div>
    <div class="container-address">
        <div class="icon-address"><img src="{{ asset('assets/pictures/' ~ img ~ '.png') }}" alt="{{ name }} logo"></div>
        <div class="path-address">{{ title }}/</div>
    </div>
</div>