<div class="tools">
    <div class="icon-tools">
        <div class="arrrow-before">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Précédent
        </div>
        <div class="arrrow-after">
            <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
        <div class="search">
            <img src="{{ asset('assets/pictures/icon/search.png') }}" alt="Recherche logo">
            Recherche
        </div>
        <div class="folder">
            <img src="{{ asset('assets/pictures/icon/folder-windows.png') }}" alt="dossier logo">
            Dossiers
        </div>
        <div class="view-folders">
            <img src="{{ asset('assets/pictures/icon/cells.png') }}" alt="rangement logo">
            <i class="fa-solid fa-sort-down"></i>
        </div>
    </div>
    <div class="menu-extends" title="Afficher la barre des tâches">
        <i class="fa-solid fa-caret-down fa-xl"></i>
    </div>
</div>
