<main>
    {% include "portfolio/__partials/main/parth/main/container-bureau.html.twig" %}

    <div class="gestion-app" title="Afficher le gestionnaire de fenêtres">
        <i class="fa-solid fa-bars fa-sm"></i>
    </div>

    <div class="inactive-windows-button">
        <img src="/assets/pictures/windows-logo.png" alt="Windows logo" title="Afficher le bouton du menu windows">
        <i class="fa-solid fa-xmark fa-sm active" style="color: #ffffff;" title="Masquer le bouton du menu windows"></i>
    </div>

    {% set sections = ['presentation', 'diplome', 'experience', 'langage', 'projet'] %}

    {% include "portfolio/__partials/main/parth/main/content-gestion-app.html.twig" %}

    {% for section in sections %}
        {% include '/portfolio/__partials/main/section/' ~ section ~ '/' ~ section ~ '.html.twig' %}
    {% endfor %}
</main>