<main>
    {% include "portfolio/__partials/main/parth/main/container-bureau.html.twig" %}

    <div class="gestion-app" title="Ouvrir le gestionnaire de fenêtres">
        <i class="fa-solid fa-bars fa-sm"></i>
    </div>

    {% set sections = ['presentation', 'diplome', 'experience', 'langage', 'projet'] %}

    {% include "portfolio/__partials/main/parth/main/content-gestion-app.html.twig" %}

    {% for section in sections %}
        {% include '/portfolio/__partials/main/section/' ~ section ~ '/' ~ section ~ '.html.twig' %}
    {% endfor %}
</main>