<section class="windows {{ name }}" data-full-size='min' data-link="{{ name }}">
    <div class="windows-top">
        {% include "portfolio/__partials/main/parth/windows/container-name.html.twig" %}
        {% include "portfolio/__partials/main/parth/windows/content-menu.html.twig" %}
        {% include "portfolio/__partials/main/parth/windows/tools.html.twig" %}
    </div>
    <div class="container-content">
        {% include "portfolio/__partials/main/parth/windows/sidebar-left.html.twig" %}
        <div class="extends-sidebar" title="Afficher le gestionnaire de fichiers">
            <i class="fa-solid fa-caret-left fa-xl"></i>
        </div>

        <div class="content-section">
            {% block windows_content %}{% endblock windows_content %}
        </div>
    </div>
</section>