<nav class="nav-link">
    {% include "portfolio/__partials/navigation/parth/content-nav/nav-header.html.twig" %}
    <div class="container-nav">
        <div class="sidebar-left">
            <div class="content-left">
                {% include "portfolio/__partials/navigation/parth/content-nav/content-top.html.twig" %}
                {% include "portfolio/__partials/navigation/parth/content-nav/navigation-links.html.twig" %}
            </div>
            {% include "portfolio/__partials/navigation/parth/content-nav/program.html.twig" %}
        </div>
        {% include "portfolio/__partials/navigation/parth/content-nav/slider-rigth.html.twig" %}
    </div>

    {% include "portfolio/__partials/navigation/parth/content-nav/nav-footer.html.twig" %}
</nav>
