<header>
    <div class="navbar">
        {% include "portfolio/__partials/navigation/content-header-left.html.twig" %}

        {% include "portfolio/__partials/navigation/content-header-right.html.twig" %}
    </div>

    {% include "portfolio/__partials/navigation/content-nav.html.twig" %}
</header>