{%
set navigations = {
'presentation': ['presentation', 'presentation logo', 'Présentation'],
'diplome': ['graduation', 'diplome logo', 'Diplôme'],
'experience': ['scientific', 'experience logo', 'Experiences'],
'langage': ['programming', 'langage logo', 'Langages'],
'credit': ['slack', 'credit logo', 'credit']
}
%}

{% for navigation, detail in navigations %}
<div class="task" id="{{navigation}}">
    <div class="content-task" title="Afficher la fenêtre">
        <img src="{{ asset('assets/pictures/icon/' ~ detail[0] ~ '.png') }}" alt="{{detail[1]}}">
        {{detail[2]}}
    </div>
</div>
{% endfor %}