main {
  position: absolute;
  height: calc(100% - 40px);
  width: 100%;
  background-image: url("/assets/pictures/icon/windows-xp-hd.jpg");
  background-size: cover;
  background-position: center;
  padding: 25px;
  z-index: -1;
}

main .container-bureau {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  height: 282px;
}

main .icon-bureau {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 80px;
  padding: 10px;
  font-size: 14px;
  color: var(--clr-white);
  text-shadow: 2px 2px 0 var(--clr-black);
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  transition: 0.2s linear;
}

main .icon-bureau:not(:last-child) {
  margin-bottom: 10px;
}

main .icon-bureau:hover {
  background-color: #f6f6f640;
}

main .icon-bureau {
  text-decoration: none;
  color: var(--clr-white);
  text-shadow: 2px 2px 0 var(--clr-black);
}

main .icon-bureau.corbeille {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
  pointer-events: none;
}

main .icon-bureau#discord {
  cursor: url("/assets/pictures/icon/copy.png"), pointer;
}

main .icon-bureau img {
  margin-bottom: 5px;
}

main .icon-app-responsive {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 39px;
  background: var(--bg-lg-blueligth);
  transition: 0.2s linear;
  overflow: hidden;
  flex-direction: column;
}

main .icon-app-responsive.active {
  height: 100%;
}

main .icon-app-responsive .content-top {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  pointer-events: none;
  border-bottom: 1px solid #ffffff24;
  padding-bottom: 7px;
}

main .icon-app-responsive .content-top img {
  height: 15px;
  width: 15px;
}

main .content-app {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 0.1s linear;
  pointer-events: none;
}

main .icon-app-responsive.active .content-app {
  opacity: 1;
  pointer-events: initial;
}

main .app {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

main .nav-app {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

main .nav-app ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main .nav-app li {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  width: 120px;
  font-size: 14px;
  font-weight: 600;
  color: var(--clr-white);
  justify-content: flex-start;
  text-align: center;
}

main .nav-app li:hover {
  background: #ffffff2b;
}

main .nav-app li img {
  margin-bottom: 5px;
}

main .content-gestion-app {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  background: var(--clr-white);
  border-radius: var(--border-radius-md);
  flex-direction: column;
  padding: 10px;
  z-index: 3;
}

main .container-gestion-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

main .content-gestion-app.active {
  display: none;
}

main .content-gestion-app .content-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f6f6f6;
}

main .content-gestion-app .content-btn div {
  width: 35px;
  height: 35px;
  border-radius: var(--border-radius-rounded);
  background: var(--green-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main .content-gestion-app .close-all.inactive {
  background: #58913275;
  cursor: not-allowed;
}

main .content-gestion-app .close-all.inactive:hover {
  background: #58913275;
}

main .content-gestion-app .close-all.inactive:hover i {
  animation: none;
}

main .content-gestion-app .content-btn div:hover {
  background: var(--green-ligth);
}

main .content-gestion-app .content-btn div:hover i {
  animation: bounceloop14 1s infinite;
}

main .content-gestion-app .no-content {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--tranform-translate-center);
  font-size: clamp(10px, 3vw, 14px);
  width: 100%;
  text-align: center;
}

main .content-gestion-app .no-content.inactive {
  display: none;
}

main .container-windows-open {
  position: relative;
  display: none;
  flex-direction: column;
  width: calc(50% - 10px);
  height: 20%;
  margin: 5px;
  font-size: clamp(10px, 3vw, 14px);
  border: 1px solid #1f5081;
  background: #fff3;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  cursor: pointer;
}

main .container-windows-open.delete {
  background: #ff000014;
  border: 1px solid #ff000014;
  animation: shake 0.3s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg) translateX(0);
  }

  25%,
  75% {
    transform: rotate(-1deg) translateX(-1px);
  }
  
  50% {
    transform: rotate(1deg) translateX(1px);
  }
}

main .container-windows-open.open {
  display: flex;
}

main .container-windows-open .eyes.inactive {
  display: none;
}

main .container-windows-open .eyes {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--tranform-translate-center);
}

main .container-windows-open .eyes i {
  color: #00000040;
}

main .container-windows-open .title-windows {
  width: 100%;
  height: max-content;
  padding: 5px;
  text-align: center;
  color: var(--clr-white);
  font-weight: 500;
  background: linear-gradient(to bottom, #0165b5, #034587);
}

main .container-windows-open.focus {
  border: 1px solid var(--green-dark);
}

main .container-windows-open.focus:hover {
  border: 1px solid var(--green-ligth);
}

main .container-windows-open.focus .title-windows {
  background: var(--green-dark);
}

main .container-windows-open.focus:hover .title-windows {
  background: var(--green-ligth);
}

main .container-windows-open.focus .eyes.inactive i {
  color: var(--green-dark);
}

main .container-windows-open.focus .eyes i {
  color: var(--green-ligth);
}

main .container-windows-open.focus .eyes.inactive {
  display: block;
}

main .container-windows-open.delete .title-windows {
  background: #ff000014;
}

main .container-windows-open.focus.delete .title-windows {
  background: #ff000014;
}

main .container-windows-open.focus.delete .eyes i {
  color: #ff000014;
}

main .container-windows-open.focus.delete {
  border: 1px solid #ff000014;
}

main .container-windows-open .close-app {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--green-dark);
  border-radius: var(--border-radius-rounded);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main .container-windows-open .close-app:hover,
main .container-windows-open.delete .close-app {
  background: #ff000047;
}

main .container-windows-open .close-app:hover i {
  animation: bounceloop14 1s infinite;
}

@media screen and (max-width: 848px) {
  main {
    height: 100%;
  }

  main .container-bureau {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  main .container-bureau.inactive {
    display: none;
  }

  main .container-bureau .corbeille {
    display: none;
  }

  main .icon-app-responsive {
    display: flex;
    z-index: 3;
  }

  main .content-gestion-app.active {
    display: flex;
  }
}
