main {
  position: absolute;
  height: calc(100vh - 40px);
  width: 100vw;
  background-image: url(/assets/pictures/icon/windows-xp-hd.jpg);
  background-size: cover;
  background-position: center;
  padding: 25px;
  z-index: -1;
}

main .container-bureau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 282px;
}

main .icon-bureau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80px;
  padding: 10px;
  font-size: 14px;
  color: white;
  text-shadow: 2px 2px 0 var(--text-black);
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

main .icon-bureau:not(:last-child) {
  margin-bottom: 10px;
}

main .icon-bureau:hover {
  background-color: #f6f6f640;
}

main .icon-bureau {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 0 var(--text-black);
}

main .icon-bureau.corbeille {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
  pointer-events: none;
}

main .icon-bureau#discord {
  cursor: url("/assets/pictures/icon/copy.png"), pointer;
}

main .icon-bureau img {
  margin-bottom: 5px;
}

main .horloge-responsive {
  display: none;
  font-size: 40px;
  color: transparent;
  position: absolute;
  top: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px white;
  pointer-events: none;
}

main .icon-app-responsive {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 39px;
  background: var(--bl-blue);
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .icon-app-responsive.active {
  height: 100%;
}

main .icon-app-responsive .content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  pointer-events: none;
  border-bottom: 1px solid #ffffff24;
  padding-bottom: 7px;
}

main .icon-app-responsive .content-top img {
  height: 15px;
  width: 15px;
}

main .content-app {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  pointer-events: none;
}

main .icon-app-responsive.active .content-app {
  opacity: 1;
  pointer-events: initial;
}

main .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .container-app {
  position: relative;
  height: 100px;
  width: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 5px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #0000004f;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  margin: 10px 10px 20px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

main .container-app > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

main .container-app > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

main .container-app > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

main .container-app > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

main .container-app > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

main .container-app > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

main .container-app::before {
  content: var(--title_app);
  width: 100%;
  height: 10px;
  position: absolute;
  top: -22px;
  left: 0;
  background: #0000004f;
  font-size: 12px;
  color: white;
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  font-weight: 600;
}

main .container-app:first-child img {
  width: 24px;
  height: 24px;
}

main .nav-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .nav-app ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .nav-app li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;
}

main .nav-app li:hover {
  background: #ffffff2b;
}

main .nav-app li img {
  margin-bottom: 5px;
}

main .gestion-app {
  position: absolute;
  bottom: 21%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
  height: 18px;
  width: 60px;
  display: none;
  border-radius: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--green-dark);
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 600;
  z-index: 5;
  color: white;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

main .gestion-app:hover {
  background: var(--green-ligth);
}

main .gestion-app.active {
  display: none;
}

main .gestion-app:hover i {
  -webkit-animation: bounceLoop14 1s infinite;
  animation: bounceLoop14 1s infinite;
}

main .gestion-app.transparent {
  opacity: 0.4;
}

main .gestion-app.transparent:hover {
  opacity: 1;
}

@-webkit-keyframes bounceLoop14 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  40%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes bounceLoop14 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  40%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

main .content-gestion-app {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  background: white;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  z-index: 3;
}

main .container-gestion-app {
  width: 100%;
  height: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}

main .content-gestion-app.active {
  display: none;
}

main .content-gestion-app .content-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 25px 0;
}

main .content-gestion-app .content-btn div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--green-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

main .content-gestion-app .close-all.inactive {
  background: #58913275;
  cursor: not-allowed;
}

main .content-gestion-app .close-all.inactive:hover {
  background: #58913275;
}

main .content-gestion-app .close-all.inactive:hover i {
  -webkit-animation: none;
  animation: none;
}

main .content-gestion-app .content-btn div:hover {
  background: var(--green-ligth);
}

main .content-gestion-app .content-btn div:hover i {
  -webkit-animation: bounceLoop14 1s infinite;
  animation: bounceLoop14 1s infinite;
}

main .content-gestion-app .no-content {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: clamp(10px, 3vw, 14px);
  width: 100%;
  text-align: center;
}

main .content-gestion-app .no-content.inactive {
  display: none;
}

main .container-windows-open {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(50% - 10px);
  height: 155px;
  margin: 5px;
  font-size: clamp(10px, 3vw, 14px);
  border: 1px solid #1f5081;
  background: #ffffff33;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

main .container-windows-open.delete {
  background: #ff000014;
  border: 1px solid #ff000014;
  -webkit-animation: shake 0.3s infinite;
  animation: shake 0.3s infinite;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg) translateX(0);
    transform: rotate(0deg) translateX(0);
  }
  25%,
  75% {
    -webkit-transform: rotate(-1deg) translateX(-1px);
    transform: rotate(-1deg) translateX(-1px);
  }
  50% {
    -webkit-transform: rotate(1deg) translateX(1px);
    transform: rotate(1deg) translateX(1px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg) translateX(0);
    transform: rotate(0deg) translateX(0);
  }
  25%,
  75% {
    -webkit-transform: rotate(-1deg) translateX(-1px);
    transform: rotate(-1deg) translateX(-1px);
  }
  50% {
    -webkit-transform: rotate(1deg) translateX(1px);
    transform: rotate(1deg) translateX(1px);
  }
}

main .container-windows-open.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container-windows-open .eyes.inactive {
  display: none;
}

main .container-windows-open .eyes {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

main .container-windows-open .eyes i {
  color: #00000040;
}

main .container-windows-open .title-windows {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: 500;
  background: -o-linear-gradient(top, #0165b5, #034587);
  background: -webkit-gradient(linear, left top, left bottom, from(#0165b5), to(#034587));
  background: linear-gradient(to bottom, #0165b5, #034587);
}

main .container-windows-open.focus {
  border: 1px solid var(--green-dark);
}

main .container-windows-open.focus:hover {
  border: 1px solid var(--green-ligth);
}

main .container-windows-open.focus .title-windows {
  background: var(--green-dark);
}

main .container-windows-open.focus:hover .title-windows {
  background: var(--green-ligth);
}

main .container-windows-open.focus .eyes.inactive i {
  color: var(--green-dark);
}

main .container-windows-open.focus .eyes i {
  color: var(--green-ligth);
}

main .container-windows-open.focus .eyes.inactive {
  display: block;
}

main .container-windows-open.delete .title-windows {
  background: #ff000014;
}

main .container-windows-open.focus.delete .title-windows {
  background: #ff000014;
}

main .container-windows-open.focus.delete .eyes i {
  color: #ff000014;
}

main .container-windows-open.focus.delete {
  border: 1px solid #ff000014;
}

main .container-windows-open .close-app {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: var(--green-dark);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

main .container-windows-open .close-app:hover,
main .container-windows-open.delete .close-app {
  background: #ff000047;
}

main .inactive-windows-button {
  position: absolute;
  bottom: calc(21% - 26px);
  left: calc(50% - -42px);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--green-dark);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}

main .inactive-windows-button.active {
  opacity: 0.4;
}

main .inactive-windows-button.active:hover {
  opacity: 1;
}

main .inactive-windows-button.inactive {
  display: none;
}

main .inactive-windows-button:hover {
  background: var(--green-ligth);
}

main .inactive-windows-button i {
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 0;
}

main .inactive-windows-button .visible-nav {
  display: none;
}

main .inactive-windows-button .invisible-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .inactive-windows-button.active .visible-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .inactive-windows-button.active .invisible-nav {
  display: none;
}

main .inactive-windows-button:hover .invisible-nav {
  -webkit-animation: bounceLoop6 1s infinite;
  animation: bounceLoop6 1s infinite;
}

main .inactive-windows-button:hover .visible-nav {
  -webkit-animation: bounceLoop6 1s infinite;
  animation: bounceLoop6 1s infinite;
}

@media screen and (max-width: 848px) {
  main {
    height: 100vh;
  }

  main .horloge-responsive {
    display: block;
  }

  main .container-bureau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  main .container-bureau.inactive {
    display: none;
  }

  main .container-bureau .corbeille {
    display: none;
  }

  main .icon-app-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
  }

  main .gestion-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  main .content-gestion-app.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  main .inactive-windows-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}