section.windows {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 90%;
  background-color: white;
  padding: 5px;
  background: #034587;
  overflow: hidden;
  z-index: 1;
  display: none;
}

section.windows.active {
  display: block;
}

section.windows.full-size.active {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.windows .windows-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: none;
  overflow: hidden;
}

section.windows .windows-top .windows-action {
  pointer-events: initial;
}

section.windows .container-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px 5px 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: -o-linear-gradient(top, #0165b5, #034587);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0165b5),
    to(#034587)
  );
  background: linear-gradient(to bottom, #0165b5, #034587);
}

section.windows .windows-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  pointer-events: none;
}

section.windows .windows-name h1 {
  font-size: 14px;
}

section.windows .windows-name img {
  margin-right: 10px;
}

section.windows .windows-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.windows .windows-action div {
  height: 100%;
  width: 33px;
  position: relative;
}

section.windows .windows-action div:not(:last-child) {
  margin-right: 5px;
}

section.windows .minus {
  border: 1px solid white;
  background: var(--green-dark);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.windows .minus:hover {
  background: var(--green-ligth);
}

section.windows .minus:hover::after,
section.windows .size:hover::after {
  -webkit-animation: bounceloop 1s infinite;
  animation: bounceloop 1s infinite;
}

@-webkit-keyframes bounceloop {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  40%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  80% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes bounceloop {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  40%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  80% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

section.windows .minus::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 7px;
  background: white;
  width: 50%;
  height: 3px;
}

section.windows .size {
  border: 1px solid white;
  background: var(--green-dark);
  border-radius: 5px;
  cursor: pointer;
}

section.windows .size:hover {
  background: var(--green-ligth);
}

section.windows .extends {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
  width: 60%;
  height: 50%;
  border: 1px solid white;
  -webkit-box-shadow: inset 0 4px 0 white;
  box-shadow: inset 0 4px 0 white;
}

section.windows .size:hover .extends {
  -webkit-animation: bounceloop2 1s infinite;
  animation: bounceloop2 1s infinite;
}

@-webkit-keyframes bounceloop2 {
  0%,
  100% {
    -webkit-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
  }

  20% {
    -webkit-transform: translate(-50%, -2px);
    transform: translate(-50%, -2px);
  }

  40%,
  60% {
    -webkit-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
  }

  80% {
    -webkit-transform: translate(-50%, -4px);
    transform: translate(-50%, -4px);
  }
}

@keyframes bounceloop2 {
  0%,
  100% {
    -webkit-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
  }

  20% {
    -webkit-transform: translate(-50%, -2px);
    transform: translate(-50%, -2px);
  }

  40%,
  60% {
    -webkit-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
  }

  80% {
    -webkit-transform: translate(-50%, -4px);
    transform: translate(-50%, -4px);
  }
}

section.windows .extends.active {
  display: block;
}

section.windows .narrow {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -64%);
  -ms-transform: translate(-40%, -64%);
  transform: translate(-40%, -64%);
  width: 40%;
  height: 40%;
  border: 2px solid white;
  background: transparent;
  cursor: pointer;
}

section.windows .size:hover .narrow {
  -webkit-animation: bounceloop3 1s infinite;
  animation: bounceloop3 1s infinite;
}

@-webkit-keyframes bounceloop3 {
  0%,
  100% {
    -webkit-transform: translate(-40%, -64%);
    transform: translate(-40%, -64%);
  }

  20% {
    -webkit-transform: translate(-40%, -2px);
    transform: translate(-40%, -2px);
  }

  40%,
  60% {
    -webkit-transform: translate(-40%, -64%);
    transform: translate(-40%, -64%);
  }

  80% {
    -webkit-transform: translate(-40%, -4px);
    transform: translate(-40%, -4px);
  }
}

@keyframes bounceloop3 {
  0%,
  100% {
    -webkit-transform: translate(-40%, -64%);
    transform: translate(-40%, -64%);
  }

  20% {
    -webkit-transform: translate(-40%, -2px);
    transform: translate(-40%, -2px);
  }

  40%,
  60% {
    -webkit-transform: translate(-40%, -64%);
    transform: translate(-40%, -64%);
  }

  80% {
    -webkit-transform: translate(-40%, -4px);
    transform: translate(-40%, -4px);
  }
}

section.windows .narrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -20%);
  -ms-transform: translate(-70%, -20%);
  transform: translate(-70%, -20%);
  width: 100%;
  height: 100%;
  background: white;
  border: 2px solid white;
}

section.windows .narrow.active {
  display: block;
}

section.windows .close {
  position: relative;
  background: var(--green-dark);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

section.windows .close:hover {
  background: var(--green-ligth);
}

section.windows .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  width: 60%;
  height: 3px;
  background: white;
}

section.windows .close span:first-child {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

section.windows .close span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

section.windows .close:hover span:first-child {
  -webkit-animation: bounceloop4 1s infinite;
  animation: bounceloop4 1s infinite;
}

@-webkit-keyframes bounceloop4 {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  20% {
    -webkit-transform: translate(-50%, 2px) rotate(-45deg);
    transform: translate(-50%, 2px) rotate(-45deg);
  }

  40%,
  60% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  80% {
    -webkit-transform: translate(-50%, 4px) rotate(-45deg);
    transform: translate(-50%, 4px) rotate(-45deg);
  }
}

@keyframes bounceloop4 {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  20% {
    -webkit-transform: translate(-50%, 2px) rotate(-45deg);
    transform: translate(-50%, 2px) rotate(-45deg);
  }

  40%,
  60% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  80% {
    -webkit-transform: translate(-50%, 4px) rotate(-45deg);
    transform: translate(-50%, 4px) rotate(-45deg);
  }
}

section.windows .close:hover span:nth-child(2) {
  -webkit-animation: bounceloop5 1s infinite;
  animation: bounceloop5 1s infinite;
}

@-webkit-keyframes bounceloop5 {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  20% {
    -webkit-transform: translate(-50%, 2px) rotate(45deg);
    transform: translate(-50%, 2px) rotate(45deg);
  }

  40%,
  60% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  80% {
    -webkit-transform: translate(-50%, 4px) rotate(45deg);
    transform: translate(-50%, 4px) rotate(45deg);
  }
}

@keyframes bounceloop5 {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  20% {
    -webkit-transform: translate(-50%, 2px) rotate(45deg);
    transform: translate(-50%, 2px) rotate(45deg);
  }

  40%,
  60% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  80% {
    -webkit-transform: translate(-50%, 4px) rotate(45deg);
    transform: translate(-50%, 4px) rotate(45deg);
  }
}

section.windows .content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #ddd;
  padding: 5px;
  pointer-events: none;
}

section.windows .tools .menu-extends {
  width: 20px;
  height: 20px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  pointer-events: initial;
}

section.windows .tools .menu-extends i {
  color: var(--green-dark);
}

section.windows .tools .menu-extends:hover i {
  color: var(--green-ligth);
  -webkit-animation: bounceloop17 1s infinite;
  animation: bounceloop17 1s infinite;
}

@-webkit-keyframes bounceloop17 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  40%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  80% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}

@keyframes bounceloop17 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  40%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  80% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}

section.windows .tools.active .menu-extends i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

section.windows .tools.active .menu-extends:hover i {
  -webkit-animation: bounceloop18 1s infinite;
  animation: bounceloop18 1s infinite;
}

@-webkit-keyframes bounceloop18 {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(180deg);
    transform: translateY(0) rotate(180deg);
  }

  20% {
    -webkit-transform: translateY(2px) rotate(180deg);
    transform: translateY(2px) rotate(180deg);
  }

  40%,
  60% {
    -webkit-transform: translateY(0) rotate(180deg);
    transform: translateY(0) rotate(180deg);
  }

  80% {
    -webkit-transform: translateY(4px) rotate(180deg);
    transform: translateY(4px) rotate(180deg);
  }
}

@keyframes bounceloop18 {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(180deg);
    transform: translateY(0) rotate(180deg);
  }

  20% {
    -webkit-transform: translateY(2px) rotate(180deg);
    transform: translateY(2px) rotate(180deg);
  }

  40%,
  60% {
    -webkit-transform: translateY(0) rotate(180deg);
    transform: translateY(0) rotate(180deg);
  }

  80% {
    -webkit-transform: translateY(4px) rotate(180deg);
    transform: translateY(4px) rotate(180deg);
  }
}

section.windows .fil-ariane {
  height: 35px;
  width: 100%;
  background: #ddd;
  font-size: clamp(10px, 2vw, 12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px;
}

section.windows .fil-ariane .address {
  padding: 5px;
}

section.windows .fil-ariane .container-address {
  width: 100%;
  height: 100%;
  background: white;
  padding: 5px;
  -webkit-box-shadow: 0 0 0 1px #616161;
  box-shadow: 0 0 0 1px #616161;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.windows .fil-ariane .icon-address {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.windows .fil-ariane .icon-address img {
  width: 23px;
  height: 23px;
}

section.windows .fil-ariane .path-address {
  width: calc(100% - 32px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}

section.windows .fil-ariane .address-before {
  height: 100%;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.windows .fil-ariane .address-before i {
  color: #bbb8b8;
}

section.windows .fil-ariane .address-before.active i {
  color: var(--green-dark);
  cursor: pointer;
  pointer-events: initial;
}

section.windows .fil-ariane .address-before.active:hover i {
  color: var(--green-ligth);
  -webkit-animation: bounceloop17 1s infinite;
  animation: bounceloop17 1s infinite;
}

section.windows .content-menu img {
  height: 40px;
}

section.windows .windows-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ddd;
}

section.windows .windows-menu li {
  list-style-type: none;
  font-size: clamp(9px, 3vw, 14px);
}

section.windows .windows-menu li:not(:last-child) {
  margin-right: 20px;
}

section.windows .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #dddddd;
  height: 40px;
}

section.windows .tools div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 15px;
  font-size: 14px;
}

section.windows .tools .arrrow-before.active {
  color: black;
  cursor: pointer;
  pointer-events: initial;
}

section.windows .tools .arrrow-before.active:hover i {
  color: var(--green-ligth);
  -webkit-animation: bounceloop19 1s infinite;
  animation: bounceloop19 1s infinite;
}

@-webkit-keyframes bounceloop19 {
  0%,
  100% {
    -webkit-transform: translateY(0) scale(1.8);
    transform: translateY(0) scale(1.8);
  }

  20% {
    -webkit-transform: translateY(2px) scale(1.8);
    transform: translateY(2px) scale(1.8);
  }

  40%,
  60% {
    -webkit-transform: translateY(0) scale(1.8);
    transform: translateY(0) scale(1.8);
  }

  80% {
    -webkit-transform: translateY(4px) scale(1.8);
    transform: translateY(4px) scale(1.8);
  }
}

@keyframes bounceloop19 {
  0%,
  100% {
    -webkit-transform: translateY(0) scale(1.8);
    transform: translateY(0) scale(1.8);
  }

  20% {
    -webkit-transform: translateY(2px) scale(1.8);
    transform: translateY(2px) scale(1.8);
  }

  40%,
  60% {
    -webkit-transform: translateY(0) scale(1.8);
    transform: translateY(0) scale(1.8);
  }

  80% {
    -webkit-transform: translateY(4px) scale(1.8);
    transform: translateY(4px) scale(1.8);
  }
}

section.windows .tools .arrrow-after,
section.windows .tools .arrrow-before {
  color: #bbb8b8;
}

section.windows .tools .arrrow-before i {
  margin-right: 15px;
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
}

section.windows .tools .arrrow-before.active i {
  color: var(--green-dark);
}

section.windows .tools .arrrow-after i {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
}

section.windows .tools .arrrow-after {
  border-right: 1px solid #bbb8b8;
  margin-right: 5px;
}

section.windows .tools div img {
  margin-right: 10px;
}

section.windows .tools .folder {
  border-right: 1px solid #bbb8b8;
}

section.windows .container-content .sidebar-left {
  display: none;
  background: -o-linear-gradient(top, #4e82b9, #3f619f);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#4e82b9),
    to(#3f619f)
  );
  background: linear-gradient(to bottom, #4e82b9, #3f619f);
  height: 100%;
  width: 300px;
  padding: 15px 25px 15px 15px;
  font-size: 12px;
  z-index: 2;
}

section.windows .container-content.active .sidebar-left {
  display: block;
}

section.windows .container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 142px);
  width: 100%;
  position: relative;
}

section.windows .container-content.active .content-section {
  width: calc(100% - 300px);
}

section.windows .container-content .extends-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
  -ms-transform: translateY(-50%) translateX(0) rotate(180deg);
  transform: translateY(-50%) translateX(0) rotate(180deg);
  height: 30px;
  width: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  color: var(--green-dark);
  z-index: 2;
}

section.windows .container-content .extends-sidebar:hover {
  color: var(--green-ligth);
  -webkit-animation: bounceloop8 1s infinite;
  animation: bounceloop8 1s infinite;
}

@-webkit-keyframes bounceloop8 {
  0%,
  100% {
    -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
    transform: translateY(-50%) translateX(0) rotate(180deg);
  }

  20% {
    -webkit-transform: translateY(-50%) translateX(2px) rotate(180deg);
    transform: translateY(-50%) translateX(2px) rotate(180deg);
  }

  40%,
  60% {
    -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
    transform: translateY(-50%) translateX(0) rotate(180deg);
  }

  80% {
    -webkit-transform: translateY(-50%) translateX(4px) rotate(180deg);
    transform: translateY(-50%) translateX(4px) rotate(180deg);
  }
}

@keyframes bounceloop8 {
  0%,
  100% {
    -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
    transform: translateY(-50%) translateX(0) rotate(180deg);
  }

  20% {
    -webkit-transform: translateY(-50%) translateX(2px) rotate(180deg);
    transform: translateY(-50%) translateX(2px) rotate(180deg);
  }

  40%,
  60% {
    -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
    transform: translateY(-50%) translateX(0) rotate(180deg);
  }

  80% {
    -webkit-transform: translateY(-50%) translateX(4px) rotate(180deg);
    transform: translateY(-50%) translateX(4px) rotate(180deg);
  }
}

section.windows .container-content.active .extends-sidebar {
  left: 300px;
  -webkit-transform: translateY(-50%) translateX(0) rotate(0);
  -ms-transform: translateY(-50%) translateX(0) rotate(0);
  transform: translateY(-50%) translateX(0) rotate(0);
}

section.windows .container-content.active .extends-sidebar:hover {
  color: var(--green-ligth);
  -webkit-animation: bounceloop9 1s infinite;
  animation: bounceloop9 1s infinite;
}

section.windows .container-content .extends-sidebar i {
  line-height: 0;
}

@-webkit-keyframes bounceloop9 {
  0%,
  100% {
    -webkit-transform: translateY(-50%) translateX(0) rotate(0);
    transform: translateY(-50%) translateX(0) rotate(0);
  }

  20% {
    -webkit-transform: translateY(-50%) translateX(2px) rotate(0);
    transform: translateY(-50%) translateX(2px) rotate(0);
  }

  40%,
  60% {
    -webkit-transform: translateY(-50%) translateX(0) rotate(0);
    transform: translateY(-50%) translateX(0) rotate(0);
  }

  80% {
    -webkit-transform: translateY(-50%) translateX(4px) rotate(0);
    transform: translateY(-50%) translateX(4px) rotate(0);
  }
}

@keyframes bounceloop9 {
  0%,
  100% {
    -webkit-transform: translateY(-50%) translateX(0) rotate(0);
    transform: translateY(-50%) translateX(0) rotate(0);
  }

  20% {
    -webkit-transform: translateY(-50%) translateX(2px) rotate(0);
    transform: translateY(-50%) translateX(2px) rotate(0);
  }

  40%,
  60% {
    -webkit-transform: translateY(-50%) translateX(0) rotate(0);
    transform: translateY(-50%) translateX(0) rotate(0);
  }

  80% {
    -webkit-transform: translateY(-50%) translateX(4px) rotate(0);
    transform: translateY(-50%) translateX(4px) rotate(0);
  }
}

section.windows .content-section {
  width: 100%;
  height: 100%;
  background: white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

section.windows .container-sildebar-left {
  background: #8285a0;
  margin-bottom: 20px;
}

section.windows .sidebar-left-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 10px;
  background: -o-linear-gradient(left, white 56%, #9abeff);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(56%, white),
    to(#9abeff)
  );
  background: linear-gradient(to right, white 56%, #9abeff);
  font-weight: 600;
  border-radius: 5px 5px 0 0;
  color: #1a57b7;
}

section.windows .sidebar-left-title span {
  pointer-events: none;
}

section.windows .icon-slider-left {
  background: var(--green-dark);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding-left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

section.windows .icon-slider-left:hover i {
  -webkit-animation: bounceloop10 1s infinite;
  animation: bounceloop10 1s infinite;
}

@-webkit-keyframes bounceloop10 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  40%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  80% {
    -webkit-transform: translateY(2.5px);
    transform: translateY(2.5px);
  }
}

@keyframes bounceloop10 {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  40%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  80% {
    -webkit-transform: translateY(2.5px);
    transform: translateY(2.5px);
  }
}

section.windows .icon-slider-left:hover {
  background: var(--green-ligth);
}

section.windows .icon-slider-left i {
  color: white;
  margin-left: -1px;
}

section.windows .icon-slider-left.active {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

section.windows .icon-slider-left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

section.windows .icon-slider-left:nth-child(3) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

section.windows .container-sildebar-left ul {
  padding: 15px 15px;
  list-style-type: none;
  color: #3064c1;
  background: #dce1fb;
  pointer-events: none;
}

section.windows .container-sildebar-left ul.active {
  height: 0;
  padding: 0;
  overflow: hidden;
}

section.windows .container-sildebar-left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

section.windows .container-sildebar-left ul li:not(:last-child) {
  margin-bottom: 5px;
}

section.windows .container-sildebar-left ul li img {
  margin-right: 10px;
}

section.windows .container-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 120px;
  width: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

section.windows .container-icon:not(:last-child) {
  margin-right: 7px;
}

section.windows .container-icon:hover {
  background: #f6f6f6;
}

section.windows .container-icon.selected {
  background: #d3d3d394;
}

section.windows .container-icon .icon-img {
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.windows .container-icon .icon-img img {
  height: 33px;
  width: 33px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

section.windows .container-icon .icon-title {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

section.windows .container-icon .icon-title h2 {
  font-size: 12px;
  font-weight: 500;
}

section.windows .container-folder {
  display: none;
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  overflow-y: auto;
}

section.windows .container-content.active .container-folder {
  width: calc(100% - 300px);
  left: 300px;
}

section.windows .container-folder.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width <= 1139px) {
  section.windows .container-content .sidebar-left {
    display: none;
  }

  section.windows .container-content.active .sidebar-left {
    display: block;
    width: 100%;
    overflow-y: auto;
  }

  section.windows .container-content.active .content-section {
    display: none;
    width: calc(100% - 300px);
  }

  section.windows .container-content.active .extends-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: calc(100% - 27px);
    -webkit-transform: translateY(-100%) translateX(0) rotate(0deg);
    -ms-transform: translateY(-100%) translateX(0) rotate(0deg);
    transform: translateY(-100%) translateX(0) rotate(0deg);
  }

  section.windows .container-content.active .extends-sidebar:hover {
    color: var(--green-ligth);
    -webkit-transform: translateY(-100%) translateX(0) rotate(0deg);
    -ms-transform: translateY(-100%) translateX(0) rotate(0deg);
    transform: translateY(-100%) translateX(0) rotate(0deg);
    -webkit-animation: bounceloop12 1s infinite;
    animation: bounceloop12 1s infinite;
  }

  @-webkit-keyframes bounceloop12 {
    0%,
    100% {
      -webkit-transform: translateY(-100%) translateX(0) rotate(0);
      transform: translateY(-100%) translateX(0) rotate(0);
    }

    20% {
      -webkit-transform: translateY(-100%) translateX(-2px) rotate(0);
      transform: translateY(-100%) translateX(-2px) rotate(0);
    }

    40%,
    60% {
      -webkit-transform: translateY(-100%) translateX(0) rotate(0);
      transform: translateY(-100%) translateX(0) rotate(0);
    }

    80% {
      -webkit-transform: translateY(-100%) translateX(-4px) rotate(0);
      transform: translateY(-100%) translateX(-4px) rotate(0);
    }
  }

  @keyframes bounceloop12 {
    0%,
    100% {
      -webkit-transform: translateY(-100%) translateX(0) rotate(0);
      transform: translateY(-100%) translateX(0) rotate(0);
    }

    20% {
      -webkit-transform: translateY(-100%) translateX(-2px) rotate(0);
      transform: translateY(-100%) translateX(-2px) rotate(0);
    }

    40%,
    60% {
      -webkit-transform: translateY(-100%) translateX(0) rotate(0);
      transform: translateY(-100%) translateX(0) rotate(0);
    }

    80% {
      -webkit-transform: translateY(-100%) translateX(-4px) rotate(0);
      transform: translateY(-100%) translateX(-4px) rotate(0);
    }
  }

  section.windows .container-content .extends-sidebar:hover {
    color: var(--green-ligth);
    -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
    -ms-transform: translateY(-50%) translateX(0) rotate(180deg);
    transform: translateY(-50%) translateX(0) rotate(180deg);
    -webkit-animation: bounceloop13 1s infinite;
    animation: bounceloop13 1s infinite;
  }

  @-webkit-keyframes bounceloop13 {
    0%,
    100% {
      -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
      transform: translateY(-50%) translateX(0) rotate(180deg);
    }

    20% {
      -webkit-transform: translateY(-50%) translateX(-2px) rotate(180deg);
      transform: translateY(-50%) translateX(-2px) rotate(180deg);
    }

    40%,
    60% {
      -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
      transform: translateY(-50%) translateX(0) rotate(180deg);
    }

    80% {
      -webkit-transform: translateY(-50%) translateX(-4px) rotate(180deg);
      transform: translateY(-50%) translateX(-4px) rotate(180deg);
    }
  }

  @keyframes bounceloop13 {
    0%,
    100% {
      -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
      transform: translateY(-50%) translateX(0) rotate(180deg);
    }

    20% {
      -webkit-transform: translateY(-50%) translateX(-2px) rotate(180deg);
      transform: translateY(-50%) translateX(-2px) rotate(180deg);
    }

    40%,
    60% {
      -webkit-transform: translateY(-50%) translateX(0) rotate(180deg);
      transform: translateY(-50%) translateX(0) rotate(180deg);
    }

    80% {
      -webkit-transform: translateY(-50%) translateX(-4px) rotate(180deg);
      transform: translateY(-50%) translateX(-4px) rotate(180deg);
    }
  }
}

@media screen and (max-width <= 848px) {
  section.windows {
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
  }

  section.windows .windows-action,
  section.windows .content-menu img,
  section.windows .tools,
  section.windows .fil-ariane .address,
  section.windows .container-name,
  section.windows .container-content .sidebar-left,
  section.windows .container-content .extends-sidebar,
  section.windows .container-content.active .sidebar-left,
  section.windows .container-content.active .extends-sidebar {
    display: none;
  }

  section.windows .windows-menu li:not(:last-child) {
    margin-right: 10px;
  }

  section.windows .container-content {
    height: calc(100% - 64px);
  }

  section.windows .container-content.active .content-section {
    display: flex;
    width: 100%;
  }

  section.windows .extends-sidebar.inactive {
    display: none;
  }
}
