{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'diplome' %}
{% set title = 'Diplôme' %}
{% set img = 'graduation' %}

{% block windows_content %}
<div class="container-icon" data-link="georges">
    <div class="icon-img mickael"></div>
    <div class="icon-title">mickael.jpg</div>
</div>

<div class="container-folder georges">
    <img src="{{ asset('assets/pictures/freaks.jpg') }}" alt="Photo de moi" class="profil">
</div>
{% endblock windows_content %}