{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'diplome' %}
{% set title = 'Diplôme' %}
{% set img = 'graduation' %}

{% block windows_content %}

<div class="container-icon" data-link="moi">
    <div class="icon-img me"></div>
    <div class="icon-title">Moi.jpg</div>
</div>

<div class="container-icon folder" data-link="loisirs">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/data-storage.png') }}" alt="dossier plein logo">
    </div>
    <div class="icon-title">Loisirs</div>
</div>

<div class="container-folder loisirs">
    <div class="container-icon" data-link="steam">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/steam.png') }}" alt="Steam logo">
        </div>
        <div class="icon-title">Steam</div>
    </div>

    <div class="container-icon" data-link="youtube">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/youtube.png') }}" alt="youtube logo">
        </div>
        <div class="icon-title">Youtube</div>
    </div>

    <div class="container-icon" data-link="netflix">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/netflix.png') }}" alt="netflix logo">
        </div>
        <div class="icon-title">Netflix</div>
    </div>
</div>

{% endblock windows_content %}