{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'diplome' %}
{% set title = 'Diplôme' %}
{% set img = 'graduation' %}

{% block windows_content %}
<div class="container-icon developper" data-link="developper" title="Mon diplôme OpenClassRoom">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/graduation.png') }}" alt="Logo diplôme">
    </div>
    <div class="icon-title"><h2>Développer</h2></div>
</div>

{% include "portfolio/__partials/main/section/diplome/parth/diplome.html.twig" %}
{% endblock windows_content %}