{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'diplome' %}
{% set title = 'Diplôme' %}
{% set img = 'graduation' %}

{% block windows_content %}
<div class="container-icon developper" data-link="developper" title="Mon diplôme OpenClassRoom">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/doc.png') }}" alt="Logo diplôme">
    </div>
    <div class="icon-title">
        <h2>Développer PHP/Symfony</h2>
    </div>
</div>

<div class="container-icon todolist" data-link="todolist" title="Mes compétences">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/check.png') }}" alt="Logo todo list">
    </div>
    <div class="icon-title">
        <h2>ToDoList</h2>
    </div>
</div>

{% include "portfolio/__partials/main/section/diplome/parth/developper.html.twig" %}
{% include "portfolio/__partials/main/section/diplome/parth/todolist.html.twig" %}
{% endblock windows_content %}