{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'credit' %}
{% set title = 'crédits' %}
{% set img = 'slack' %}

{% block windows_content %}

<div class="container-icon" data-link="remerciement" title="Ici, je tiens principalement à remercier les créateurs des icônes/images utilisées pour mon portfolio">
    <div class="icon-img remerciement">
        <img src="{{ asset('assets/pictures/icon/internet.png') }}" alt="internet logo">
    </div>
    <div class="icon-title">
        <h2>Merci</h2>
    </div>
</div>

<div class="container-folder remerciement">
    <a href="https://www.microsoft.com/fr-fr/" class="link" target="_blank">
        <div class="content-thanks">
            <img src="/assets/pictures/icon/windows-logo.png" alt="Windows logo" width="50" height="50">
            Windows
        </div>
        <span>Merci Windows pour l'inspiration</span>
    </a>

    <a href="https://www.flaticon.com/free-icons/merci" title="merci icons" class="link" target="_blank">
        <img src="https://media.flaticon.com/dist/min/img/logo/flaticon_negative.svg" title="Flaticon logo" width="154" height="30">
        <span>Merci Freepik - Flaticon pour les icones</span>
    </a>

    <a href="https://fontawesome.com/" title="merci fontawesome" class="link" target="_blank">
        <div class="content-thanks">
            <img src="{{ asset('assets/pictures/icon/flags.png') }}" alt="fontawesome logo" width="30" height="30">
            FontAwesome
        </div>
        <span>Merci fontawesome pour les icones</span>
    </a>
</div>

{% endblock windows_content %}
