<div class="container-folder laboratoire">
    <div class="content-legend">
        <div class="nail nail-top-left"></div>
        <div class="nail nail-top-right"></div>
        <div class="nail nail-bottom-left"></div>
        <div class="nail nail-bottom-right"></div>
        <div class="title-lvl">Régles</div>
        <ul class="legend-lvl">
            <li style="--lvl-icon:url('{{ asset('assets/pictures/icon/tube-debutant.png') }}')">
                Débutant : Maîtrise déjà certaines tâches simples, mais
                a toujours besoin de conseils.
            </li>
            <li style="--lvl-icon:url('{{ asset('assets/pictures/icon/tube-junior.png') }}')">
                Junior : Maîtrise la plupart des tâches, mais il y a des
                progrès à faire
            </li>
            <li style="--lvl-icon:url('{{ asset('assets/pictures/icon/tube-confirme.png') }}')">
                Confirmé : Maîtrise bien les tâches, travaille en
                autonomie et peut encadrer un junior
            </li>
            <li style="--lvl-icon:url('{{ asset('assets/pictures/icon/tube-expert.png') }}')">
                Expert : Maîtrise parfaitement les tâches et peut aider
                les personnes de niveau confirmé à progresser
            </li>
        </ul>
    </div>
    <div class="content-langage">
        <div class="container-langage">
            <div class="liquid-bubble bubble1" style="--clr-bubble:#00ff00"></div>
            <div class="liquid-bubble bubble2" style="--clr-bubble:#00ff00"></div>
            <div class="liquid-bubble bubble3" style="--clr-bubble:#00ff00"></div>
            <div class="liquid" style="--lvl:75%; --clr:#00ff00; --clr-shadow:#4fe54f"><span>Confirmé</span></div>
            <div class="langage-name">
                HTML
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid" style="--lvl:75%; --clr:#00ff00; --clr-shadow:#4fe54f"><span>Confirmé</span></div>
            <div class="langage-name">
                CSS
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid-bubble bubble1" style="--clr-bubble:#00ff00"></div>
            <div class="liquid-bubble bubble2" style="--clr-bubble:#00ff00"></div>
            <div class="liquid-bubble bubble3" style="--clr-bubble:#00ff00"></div>
            <div class="liquid" style="--lvl:75%; --clr:#00ff00; --clr-shadow:#4fe54f"><span>Confirmé</span></div>
            <div class="langage-name">
                JavaScript/JQuery
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid" style="--lvl:75%; --clr:#00ff00; --clr-shadow:#4fe54f"><span>Confirmé</span></div>
            <div class="langage-name">
                PHP
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid" style="--lvl:50%; --clr:#8A2BE2; --clr-shadow:#a651f5"><span>Junior</span></div>
            <div class="langage-name">
                MySQL
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid-bubble bubble1" style="--clr-bubble:#8A2BE2"></div>
            <div class="liquid-bubble bubble2" style="--clr-bubble:#8A2BE2"></div>
            <div class="liquid-bubble bubble3" style="--clr-bubble:#8A2BE2"></div>
            <div class="liquid" style="--lvl:50%; --clr:#8A2BE2; --clr-shadow:#a651f5"><span>Junior</span></div>
            <div class="langage-name">
                Symfony
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid" style="--lvl:50%; --clr:#8A2BE2; --clr-shadow:#a651f5"><span>Junior</span></div>
            <div class="langage-name">
                Java/Selenium
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid" style="--lvl:50%; --clr:#8A2BE2; --clr-shadow:#a651f5"><span>Junior</span></div>
            <div class="langage-name">
                Git/Github
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid-bubble bubble1" style="--clr-bubble:#8A2BE2"></div>
            <div class="liquid-bubble bubble2" style="--clr-bubble:#8A2BE2"></div>
            <div class="liquid-bubble bubble3" style="--clr-bubble:#8A2BE2"></div>
            <div class="liquid" style="--lvl:50%; --clr:#8A2BE2; --clr-shadow:#a651f5"><span>Junior</span></div>
            <div class="langage-name">
                GitKraken
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid" style="--lvl:50%; --clr:#8A2BE2; --clr-shadow:#a651f5"><span>Junior</span></div>
            <div class="langage-name">
                Bootstrap
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid" style="--lvl:50%; --clr:#8A2BE2; --clr-shadow:#a651f5"><span>Junior</span></div>
            <div class="langage-name">
                Wordpress
            </div>
        </div>
        <div class="container-langage">
            <div class="liquid-bubble bubble1" style="--clr-bubble:#00ff00"></div>
            <div class="liquid-bubble bubble2" style="--clr-bubble:#00ff00"></div>
            <div class="liquid-bubble bubble3" style="--clr-bubble:#00ff00"></div>
            <div class="liquid" style="--lvl:75%; --clr:#00ff00; --clr-shadow:#4fe54f"><span>Confirmé</span></div>
            <div class="langage-name">
                UML
            </div>
        </div>
    </div>
    <div id="upToBottom"></div>
</div>
