@font-face {
  font-family: Verdana;
  src: url("/assets/fonts/Verdana.ttf") format("truetype");
}

@font-face {
  font-family: Caveat;
  src: url("/assets/fonts/Caveat.ttf") format("truetype");
}

@font-face {
  font-family: Inconsolata;
  src: url("/assets/fonts/Inconsolata.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  font-family: Verdana, sans-serif;
  background-color: var(--clr-black);
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-size: var(--fz-base);
}
