@font-face {
  font-family: Verdana;
  src: url("/assets/fonts/Verdana.ttf") format("truetype");
}

@font-face {
  font-family: Caveat;
  src: url("/assets/fonts/Caveat.ttf") format("truetype");
}

@font-face {
  font-family: Inconsolata;
  src: url("/assets/fonts/Inconsolata.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  font-family: Verdana, sans-serif;
  background-color: var(--clr-black);
  height: 100%;
  min-height: var(--min-height-container);
  width: 100%;
  min-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  font-size: var(--fz-base);
}