header {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, #0165B5, #004C99);
}

header .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -5px 0px 0px #1f5081;
}

header .container-left {
    display: flex;
    align-items: center;
}

header .separator {
    color: #0c457f;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
}

header .logo-windows {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: #589132;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 15px;
    box-shadow: inset 0px 0px 4px 1px #1b3906;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    width: 160px;
    transition: .2s linear;
}

header .logo-windows:hover {
    background-color: #55bb12;
}

header .logo-windows img {
    margin-right: 5px;
    height: 100%;
}

header .icon-app {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 50px 0 30px;
    pointer-events: none;
}

header .icon-app .separator {
    margin-right: 10px;
}

header .icon-app img {
    transform: scale(0.8);
}

header .icon-app img:not(:last-child) {
    margin-right: 10px;
}

header .menu-open {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    border-radius: 3px;
    font-weight: 500;
    color: white;
    font-size: 14px;
    background: linear-gradient(to bottom, #277ed5, #004C99);
    pointer-events: none;
}

header .menu-open .separator {
    position: absolute;
    top: 0;
    left: -10px;
}

header .menu-open img{
    margin-right: 15px;
}

header .container-right {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    background: linear-gradient(to bottom, #277ed5, #004C99);
    border-radius: 3px;
    pointer-events: none;
}

header .container-right::before {
    content: "FR";
    position: absolute;
    top: 12px;
    left: -30px;
    font-size: 12px;
    color: white;
}

header .container-right .icon {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 5px;
}

header .container-right img {
    transform: scale(0.6);
}

header .container-right .horloge {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    color: white;
}

header .container-right .separator {
    position: absolute;
    top: 0;
    left: -40px;
}

nav.nav-link {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: calc(0px + 45px);
    left: 0;
    height: 75vh;
    width: 500px;
    background: white;
    border-radius: 10px;
}

nav .nav-header,
nav .nav-footer {
    width: 100%;
    color: white;
}

nav .nav-header {
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to bottom, #004C99, #0165B5);
    height: 85px;
}

nav.nav-link .logo-pseudo {
    border: 3px solid #b2cbe3;
    width: 60px;
    height: 90%;
    background-image: url('/assets/pictures/Freaks.jpg');
    background-size: cover;
    background-position-y: -5px;
    border-radius: 10px;
    margin: 0 10px 0 3px;
}

nav.nav-link .pseudo {
    font-weight: 600;
}

nav .nav-footer {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to bottom, #0165B5, #004C99);
    font-size: 12px;
    padding: 5px 10px;
    height: 50px;
}

nav .nav-footer .open-session,
nav .nav-footer .close-computer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
}

nav .nav-footer .open-session span {
    text-decoration: underline;
}

nav .nav-footer .open-session img,
nav .nav-footer .close-computer img {
    transform: scale(0.8);
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 5px;
}

nav .nav-footer .open-session {
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s linear;
}

nav .nav-footer .open-session:hover {
    background: #ffffff2b;
}

nav .nav-footer .open-session img {
    background: #eda73a;
}

nav .nav-footer .close-computer {
    pointer-events: none;
}

nav .nav-footer .close-computer img {
    background: #d74646;
}

nav .container-nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: #004C99;
    padding: 3px;
}

nav .sidebar-left,
nav .sidebar-right {
    width: 50%;
    background: white;
    padding: 10px;
}

nav .sidebar-left {
    border-right: 1px solid lightgrey;
}

nav .sidebar-left .content-top {
    position: relative;
    height: 26%;
    pointer-events: none;
    padding: 10px 0 0 10px;
}

nav .sidebar-left .content-top::after,
nav .sidebar-right .content-top::after,
nav .sidebar-right .content-mid::after {
    content: "";
    position: absolute;
    left: 20px;
    height: 1px;
    width: 80%;
    background-color: #F1F1F1;
}

nav .sidebar-left .content-top img,
nav .sidebar-right .content-top img,
nav .sidebar-right .content-mid img,
nav .sidebar-right .content-bottom img {
    margin-right: 10px;
}

nav .sidebar-left .content-top div,
nav .sidebar-right .content-top div,
nav .sidebar-right .content-mid div,
nav .sidebar-right .content-bottom div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

nav .detail-content-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

nav .detail-content-top span:nth-child(1) {
    font-weight: 600;
}

nav .detail-content-top span:nth-child(2) {
    color: lightslategray;
}

nav .sidebar-left ul {
    position: relative;
    height: calc(100% - 32%);
}

nav .sidebar-left ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: .1s linearr;
}

nav .sidebar-left ul li:hover {
    background-color: #F6F6F6;
}

nav .sidebar-left ul li img {
    margin-right: 10px;
}

nav .sidebar-left ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

nav .sidebar-left .program {
    position: relative;
    font-size: 14px;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .sidebar-left .program span {
    text-decoration: underline;
}

nav .sidebar-left .program::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 20px;
    height: 1px;
    width: 80%;
    background-color: #F1F1F1;;
}

nav .sidebar-left .program img{
    margin-left: 10px;
    transform: scale(0.9);
}
nav .sidebar-right {
    font-size: 12px;
    color: #01457c;
    font-weight: 600;
    background: #bde0fd;
}

nav .sidebar-right .content-top {
    position: relative;
    height: 33%;
    pointer-events: none;
    padding: 10px 0 0 10px;
}

nav .sidebar-right .content-mid {
    position: relative;
    height: 20%;
    pointer-events: none;
    padding: 0 0 0 10px;
}

nav .sidebar-right .content-mid i {
    margin-left: auto;
}

nav .sidebar-right .content-bottom {
    position: relative;
    height: calc(100% - 53%);
    pointer-events: none;
    padding: 10px 0 0 10px;
}

nav .sidebar-right .content-top div,
nav .sidebar-right .content-mid div,
nav .sidebar-right .content-bottom div {
    align-items: center;
    margin-bottom: 10px;
}