:root {
  --green-dark: #589132;
  --green-ligth: #49a30f;
  --text-black: #0c0c0c;
  --bl-blue: linear-gradient(to bottom, #0165b5, #004c99);
  --bl-rotate-blue: linear-gradient(to bottom, #004c99, #0165b5);
}
