{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'projet' %}
{% set title = 'Projets' %}
{% set img = 'idea' %}

{% block windows_content %}

<div class="container-icon" data-link="projets" title="Mes projets OpenClassroom">
    <div class="icon-img projets">
        <img src="{{ asset('assets/pictures/icon/progress.png') }}" alt="Photo de moi">
    </div>
    <div class="icon-title">
        <h2>En construction</h2>
    </div>
</div>

<div class="container-folder projets">

</div>

{% endblock windows_content %}