<div class="container-calendar">
    <div class="years-calendar">Mars 2023</div>
    <div class="content-calendar">
        <div class="numbers-day">
            {% for day in days %}
            <div class="number-day day">{{day}}</div>
            {% endfor %}
            <div class="number-day inactive"></div>
            <div class="number-day inactive"></div>
            {% for i in 1..31 %}
            <div class="number-day {% if i == 19 %}event-formation{% endif %}" {% if i==19
                %}title="Fin d'apprentissage Vialtic.com" {% endif %}>
                {{i}}
                {% if i == 19 %}
                <div class="notif-formation">
                    <span>Fin</span> <span>d'app.</span>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="number-day inactive"></div>
            <div class="number-day inactive"></div>
        </div>
    </div>

    <div class="content-notif">
        <div class="closing-notif">
            <i class="fa-regular fa-calendar-xmark fa-xl"></i>
        </div>
        <div class="notif-name">Fin d'apprentissage - vialtic.com</div>
        <div>
            <div class="notif-detail">
                <i class="fa-regular fa-compass fa-xl"></i>
                Châtellerault
            </div>
            <div class="notif-detail">
                <i class="fa-regular fa-clock fa-xl"></i>
                17h00
            </div>
            <div class="notif-detail">
                <i class="fa-regular fa-bell fa-xl"></i>
                17h00
            </div>
        </div>
        <a href="https://www.google.com/maps/place/2+Bd+Sadi+Carnot,+86100+Ch%C3%A2tellerault/data=!4m2!3m1!1s0x47fda9e4bba96d2f:0xcdec7f348a3bd111?sa=X&ved=2ahUKEwjGlJOV_p-BAxVMRqQEHRCKBzcQ8gF6BAgQEAA&ved=2ahUKEwjGlJOV_p-BAxVMRqQEHRCKBzcQ8gF6BAgTEAI"
            target="_blank" class="notif-map" title="Suivre le lien vers Google Maps">
            <img src="{{ asset('assets/pictures/icon/chatellerault.png') }}" alt="image map localisation">
            <i class="fa-solid fa-map-location-dot fa-2xl"></i>
        </a>
    </div>
</div>