<div class="container-calendar">
    <div class="years-calendar">2021</div>
    <div class="month-calendar">Mars</div>
    <div class="content-calendar">
        <div class="days">
            {% for day in days %}
            <div class="day">{{day}}</div>
            {% endfor %}
        </div>
        <div class="numbers-day">
            {% for i in 1..31 %}
            <div class="number-day {% if i == 19 %}event-formation{% endif %}" {% if i==19
                %}title="Début d'apprentissage Vialtic.com" {% endif %}>
                {{i}}
                {% if i == 19 %}
                <div class="notif-formation">
                    <span>Début</span> <span>d'app.</span>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="content-notif">
        <div class="closing-notif">
            <i class="fa-regular fa-calendar-xmark fa-xl"></i>
        </div>
        <div class="notif-name">Début d'apprentissage - vialtic.com</div>
        <div>
            <div class="notif-detail">
                <i class="fa-regular fa-compass fa-xl"></i>
                Route de brioux, périgné
            </div>
            <div class="notif-detail">
                <i class="fa-regular fa-clock fa-xl"></i>
                08h00 - 17h00
            </div>
            <div class="notif-detail">
                <i class="fa-regular fa-bell fa-xl"></i>
                06h25
            </div>
        </div>
        <a href="https://www.google.com/maps/place/Rte+de+Brioux,+79170+P%C3%A9rign%C3%A9/data=!4m2!3m1!1s0x4800b48fa3fc9427:0xf2b1fad3c6a584b5?sa=X&ved=2ahUKEwjqyOSJ65-BAxXOTqQEHUobD14Q8gF6BAgSEAA&ved=2ahUKEwjqyOSJ65-BAxXOTqQEHUobD14Q8gF6BAgWEAI"
            target="_blank" class="notif-map" title="Suivre le lien vers Google Maps">
            <img src="{{ asset('assets/pictures/icon/brioux-map.png') }}" alt="image map localisation">
            <i class="fa-solid fa-map-location-dot fa-2xl"></i>
        </a>
    </div>
</div>