{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'experience' %}
{% set title = 'Expériences' %}
{% set img = 'scientific' %}

{% set days = ['Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.', 'Dim.'] %}

{% block windows_content %}

<div class="container-icon calendrier-vialtic" data-link="calendrier-vialtic" title="Apprentissage - Vialtic.com">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/calendar.png') }}" alt="Logo calendrier">
    </div>
    <div class="icon-title">
        <h2>Calendrier</h2>
    </div>
</div>

<div class="container-icon todolist" data-link="todolist" title="Mes compétences">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/check.png') }}" alt="Logo todo list">
    </div>
    <div class="icon-title">
        <h2>ToDoList</h2>
    </div>
</div>

<div class="container-folder calendrier-vialtic">
    {% include "portfolio/__partials/main/section/experience/parth/container-calendar-2021.html.twig" %}
    {% include "portfolio/__partials/main/section/experience/parth/container-calendar-2023.html.twig" %}
</div>

{% include "portfolio/__partials/main/section/experience/parth/todolist.html.twig" %}

{% endblock windows_content %}