{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'langage' %}
{% set title = 'Langages' %}
{% set img = 'programming' %}

{% block windows_content %}

<div class="container-icon" data-link="mickael" title="Une photo de moi">
    <div class="icon-img mickael"></div>
    <div class="icon-title"><h2>Mickael.jpg</h2></div>
</div>

{% endblock windows_content %}