{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'langage' %}
{% set title = 'Langages' %}
{% set img = 'programming' %}

{% block windows_content %}

<div class="container-icon laboratoire" data-link="laboratoire" title="Les langages que je connais">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/paint.png') }}" alt="Logo laboratoire">
    </div>
    <div class="icon-title">
        <h2>Laboratoire</h2>
    </div>
</div>

{% include "portfolio/__partials/main/section/langage/parth/laboratoire.html.twig" %}
{% endblock windows_content %}