{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'presentation' %}
{% set title = 'Présentation' %}
{% set img = 'presentation' %}

{% block windows_content %}

<div class="container-icon">
    <div class="icon-img" style="--url:url(/assets/pictures/Freaks.jpg)">
    </div>
    <div class="icon-title">Moi.jpg</div>
</div>

<div class="container-icon">
    <div class="icon-img" style="--url:url(/assets/pictures/Freaks.jpg)">
    </div>
    <div class="icon-title">Moi.jpg</div>
</div>

<div class="container-icon">
    <div class="icon-img" style="--url:url(/assets/pictures/Freaks.jpg)">
    </div>
    <div class="icon-title">Moi.jpg</div>
</div>

<div class="container-icon">
    <div class="icon-img" style="--url:url(/assets/pictures/Freaks.jpg)">
    </div>
    <div class="icon-title">Moi.jpg</div>
</div>

{% endblock windows_content %}