{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'presentation' %}
{% set title = 'Présentation' %}
{% set img = 'presentation' %}

{% block windows_content %}

<div class="container-icon" data-link="mickael">
    <div class="icon-img mickael"></div>
    <div class="icon-title">mickael.jpg</div>
</div>

<div class="container-icon description" data-link="description">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/pencil.png') }}" alt="Photo de moi" class="bloc note logo">
    </div>
    <div class="icon-title">Description</div>
</div>

<div class="container-icon folder" data-link="loisirs">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/data-storage.png') }}" alt="dossier plein logo">
    </div>
    <div class="icon-title">Loisirs</div>
</div>

<div class="container-folder mickael">
    <img src="{{ asset('assets/pictures/icon/freaks.jpg') }}" alt="Photo de moi" class="profil">
</div>

{% include "portfolio/__partials/main/section/presentation/parth/loisirs.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/description.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/steam.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/youtube.html.twig" %}

{% endblock windows_content %}