nav.nav-link {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    bottom: calc(0px + 40px);
    left: 0;
    height: 75vh;
    width: 500px;
    background: white;
    border-radius: 10px;
}

nav.nav-link.open-nav {
    display: flex;
}

nav .nav-header,
nav .nav-footer {
    width: 100%;
    color: white;
}

nav .nav-header {
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to bottom, #004C99, #0165B5);
    height: 85px;
}

nav.nav-link .logo-pseudo {
    border: 3px solid #b2cbe3;
    width: 60px;
    height: 90%;
    background-image: url('/assets/pictures/Freaks.jpg');
    background-size: cover;
    background-position-y: -5px;
    border-radius: 10px;
    margin: 0 10px 0 3px;
}

nav.nav-link .pseudo {
    font-weight: 600;
}

nav .nav-footer {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to bottom, #0165B5, #004C99);
    font-size: 12px;
    padding: 5px 10px;
    height: 50px;
}

nav .nav-footer .open-session,
nav .nav-footer .close-computer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
}

nav .nav-footer .open-session span:not(.text) {
    text-decoration: underline;
}

nav .nav-footer .open-session .text {
    position: relative;
}

nav .nav-footer .open-session .text::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    bottom: 1px;
    left: 0;
    background: white;
    transition: .3s ease;
}

nav .nav-footer .open-session:hover .text::before {
    height: 1px;
    width: 99%;
}

nav .nav-footer .open-session img,
nav .nav-footer .close-computer img {
    transform: scale(0.8);
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 5px;
}

nav .nav-footer .open-session {
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s linear;
}

nav .nav-footer .open-session:hover {
    background: #ffffff2b;
}

nav .nav-footer .open-session img {
    background: #eda73a;
}

nav .nav-footer .close-computer {
    pointer-events: none;
}

nav .nav-footer .close-computer img {
    background: #d74646;
}

nav .container-nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: #004C99;
    padding: 3px;
}

nav .sidebar-left,
nav .sidebar-right {
    width: 50%;
    background: white;
    padding: 10px;
}

nav .sidebar-left {
    display: flex;
    border-right: 1px solid lightgrey;
    flex-direction: column;
    justify-content: space-between
}

nav .sidebar-left .content-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

nav .sidebar-left .content-top {
    position: relative;
    pointer-events: none;
    padding: 10px 0 0 10px;
}

nav .sidebar-left .content-top::after,
nav .sidebar-right .content-top::after,
nav .sidebar-right .content-mid::after {
    content: "";
    position: absolute;
    left: 20px;
    height: 1px;
    width: 80%;
    background-color: #F1F1F1;
}

nav .sidebar-left .content-top img,
nav .sidebar-right .content-top img,
nav .sidebar-right .content-mid img,
nav .sidebar-right .content-bottom img {
    margin-right: 10px;
}

nav .sidebar-left .content-top div,
nav .sidebar-right .content-top div,
nav .sidebar-right .content-mid div,
nav .sidebar-right .content-bottom div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

nav .detail-content-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

nav .detail-content-top span:nth-child(1) {
    font-weight: 600;
}

nav .detail-content-top span:nth-child(2) {
    color: lightslategray;
}

nav .sidebar-left ul {
    position: relative;
    margin-top: 5px;
}

nav .sidebar-left ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease;
}

nav .sidebar-left ul li:hover {
    background-color: #F6F6F6;
}

nav .sidebar-left ul li .content-presentation {
    display: flex;
    align-items: center;
}

nav .sidebar-left ul li i {
    display: none;
}

nav .sidebar-left ul li:hover i {
    display: none;
}
 
nav .sidebar-left ul li:hover::after {
    content: "";
    top: 38%;
    left: 1px;
    position: absolute;
    background-color: #49a30f;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    animation: liAfterSlide 0.8s ease forwards;
}

@keyframes liAfterSlide {
    0% {
        top: 38%;
        left: 1px;
        background-color: #49a30f;
        border-radius: 50%;
        height: 5px;
        width: 5px;
    }
    25% {
        top: 1px;
        left: 1px;
        background-color: #49a30f;
        border-radius: 50%;
        height: 8px;
        width: 8px;
    }
    75% {
        top: -1px;
        left: 95%;
        background-color: #49a30f;
        border-radius: 25%;
        height: 8px;
        width: 8px;
    }
    100% {
        top: 38%;
        left: 98%;
        background-color: transparent;
        border-radius: 0px;
        height: 5px;
        width: 5px;
    }
}

nav .sidebar-left ul li::before,
nav .sidebar-left ul li::after {
    display: block;
}

nav .sidebar-left ul li:hover::before {
    content: "";
    position: absolute;
    bottom: 38%;
    left: -1px;
    background-color: #49a30f;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    animation: liABeforeSlide 0.8s ease forwards;
}

@keyframes liABeforeSlide {
    0% {
        bottom: 38%;
        left: 1px;
        height: 5px;
        width: 5px;
        background-color: #49a30f;
        border-radius: 50%;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 0px solid transparent;
    }
    25% {
        bottom: 1px;
        left: 1px;
        height: 8px;
        width: 8px;
        background-color: #49a30f;
        border-radius: 50%;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 0px solid transparent;
    }
    75% {
        bottom: -1px;
        left: 95%;
        background-color: #49a30f;
        border-radius: 25%;
        height: 8px;
        width: 8px;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 0px solid transparent;
    }
    100% {
        bottom: 38%;
        left: 98%;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 8px solid #49a30f;
        background-color: transparent;
        border-radius: 0px;
    }
}

nav .sidebar-left ul li img {
    margin-right: 10px;
}

nav .sidebar-left ul li span {
    color: black;
    font-size: 14px;
    letter-spacing: 0vw;
    transition: .3s ease;
}

nav .sidebar-left ul li:hover span {
    letter-spacing: 0.7vw;
    text-shadow: 1px 4px 5px #2b2b2b8f;
}

nav .sidebar-left .program {
    position: relative;
    font-size: 14px;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
}

nav .sidebar-left .program span {
    text-decoration: underline;
}

nav .sidebar-left .program::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 20px;
    height: 1px;
    width: 80%;
    background-color: #F1F1F1;
}

nav .sidebar-left .program img{
    margin-left: 10px;
    transform: scale(0.9);
}
nav .sidebar-right {
    display: flex;
    font-size: 12px;
    color: #01457c;
    font-weight: 600;
    background: #bde0fd;
    flex-direction: column;
    justify-content: flex-start;
}

nav .sidebar-right .content-top {
    position: relative;
    pointer-events: none;
    padding: 10px 0 0 10px;
}

nav .sidebar-right .content-mid {
    position: relative;
    pointer-events: none;
    padding: 10px 0 10px 10px;
}

nav .sidebar-right .content-mid i {
    margin-left: auto;
}

nav .sidebar-right .content-bottom {
    position: relative;
    pointer-events: none;
    padding: 0 0 0 10px;
}

nav .sidebar-right .content-top div,
nav .sidebar-right .content-mid div,
nav .sidebar-right .content-bottom div {
    align-items: center;
    margin-bottom: 10px;
}

nav .sidebar-right .content-top::after,
nav .sidebar-right .content-mid::after {
    background-color: #99a8df;
}

@media screen and (max-width: 848px) {
    nav .container-nav {
        flex-direction: column;
    }

    nav .sidebar-left,
    nav .sidebar-right {
        width: 100%;
        padding: 6px;
    }

    nav.nav-link {
        bottom: 0;
        height: 100vh;
        width: 100%;
    }

    nav .nav-footer {
        padding: 5px 0px;
    }

    nav .nav-footer .close-computer span {
        display: none;
    }

    nav .nav-footer .open-session,
    nav .nav-footer .close-computer {
        padding: 0;
    }

    nav .sidebar-left ul li {
        padding: 7px;
    }

    nav .sidebar-left .program {
        display: none;
    }

    nav .sidebar-left ul li:hover span {
        letter-spacing: 2vw;
        text-shadow: 1px 4px 5px #2b2b2b8f;
    }

    nav .sidebar-left ul li:hover i {
        display: block;
    }

    nav .sidebar-left ul li::before,
    nav .sidebar-left ul li::after {
        display: none;
    }
}